<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Skill</h1>
    <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
        <input value="<%= skill.name %>" type="text" name="name">
        <input type="checkbox" <%= skill.proficient ? 'checked' : ''%>  name="proficient" id="">Proficient?
        <br><br>
        <button type="submit">Update Skill</button>
    </form><br>
    <a href="/skills/<%= skill._id %>">Cancel</a>
</body>
</html>